@model DevCommerce.WebUI.Models.ProductComponentModel

@if (Model != null && Model.Products != null && Model.Products.PagedData.Count > 0)
{
    foreach (var product in Model.Products.PagedData)
    {
        var thumbnail = product.Images.FirstOrDefault(x => x.IsThumbnail);
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Card image cap" src="@thumbnail.Image.ImagePath">
                <div class="card-body">
                    <p class="card-text">@product.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="@Url.Action("Detail","Product",new {ProductId=product.ProductId })" class="btn btn-sm btn-outline-secondary">Detay</a>
                        </div>
                        <small class="text-muted"></small>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class=" col-md-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class='page-item @(Model.Products.CurrentPage==0?"disabled":"")'>
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>

                @for (int i = 1; i <= Model.Products.TotalPage; i++)
                {
                    <li class='page-item  @(i == Model.Products.CurrentPage+1 ? "active" : "")'><a class="page-link" href="#" onclick="$.paging.getPage('@(i-1)','@Model.CategoryId','@Model.BrandId');">@i</a></li>
                }

                <li class="page-item @(Model.Products.CurrentPage==Model.Products.TotalPage?"disabled":"")">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
}


