@using DevCommerce.WebUI.Models;

@model LoginViewModel

@{
    ViewData["Title"] = "Giriş";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 col-xs-6 col-lg-6 content-area">
            <h1 class="text-center login-title">Üye Girişi</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin" action='@Url.Action("Index","Login")' method="post">
                    @Html.TextBoxFor(model => model.Email, new {  @class = "form-control", placeholder = "Eposta", required = "required", autofocus = "" })
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Şifre", required = "required" })
                    <button class="btn btn-lg btn-primary btn-block form-signin-button" type="submit">
                        Giriş
                    </button>
                    <label class="checkbox pull-left">
                        @Html.CheckBoxFor(model => model.RememberMe) Beni Hatırla
                    </label>
                    <a href="#" class="pull-right need-help">Yardım </a><span class="clearfix"></span>
                </form>
            </div>
            <a href='@Url.Action("Register","Login")' class="text-center new-account">Yeni Üye</a>
        </div>
    </div>
</div>